*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
	padding: 30px 30px;
	margin: : 30px 10px;
	list-style: none;
	float: right;

}

nav{
display: block;

}
ul::after{
clear: right;
}

ul li
{
	display: inline-block;
	margin: 10px;
	background: orange;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;


}

li a{
	text-decoration: none;

}

li a:hover{
	color: green;
}

.header1{
	position: fixed;
	top: 300px;
	left: 50px;
}

.myicon{
	display: none;
}

@media only screen and (max-width: 576px) {

	nav{
		display: none;
	}

	ul li
{
	display: block;
	/*margin: 10px;*/
}
.myicon{
	margin: 10px;
	float: right;
	font-size: 30px;
	color: blue;
	display: block;
	position: fixed;
	top: 8px;
	right: 10px;

}

}